@import "../../../../../scss/variables.scss";
.wrap-container-info-table {
    overflow: auto;
    .container-info-table {
        width: 100%;
        min-width: 500px;
        li {
            margin: 0;
            background-color: $grey-100;
            .table-header-cell {
                font-size: 14px;
                font-weight: bold;
                color: $white
            }
            .table-cell {
                font-size: 12px;
            }
        }
        li.table-header-row:first-child {
            background-color: $blue-600;
            text-align: center;
        }
        li:nth-child(odd) {
            background-color: $blue-400;
            .table-cell {
                color: $white
            }
        }
        li:nth-child(even) {
            .table-cell {
                color: $text-black-500
            }
        }
        .table-row-empty {
            text-align: center;
        }
    }
}
