p
    |Основным проектом нашей компании, является Информационная Система Портового Сообщества.
    |ИСПС была запущена в тестовую эксплуатацию 8 октября 2012 года, которая длилось более года (до декабря 2013).
    |Первой технологической цепочкой, которая стала реализовываться в ИСПС, стала процедура оформления грузов,
    |прибывших морем в контейнерах и которые следуют внутренним и проходным транзитом.
p
    |Одним из направлений в работе ООО «ППЛ 33-35» является разработка, последующее внедрение и сопровождение
    | программного обеспечения для сторонних Клиентов (не связанных с ИСПС).
p
    |Еще одним направлением в работе нашей компании является оказание услуг связанных с обслуживанием программно-аппаратного комплекса Клиента,
    | оказание услуг по сопровождению и развитию программно-аппаратного комплекса Клиента

