h1.page-header.p-16 Search Container History

.container
    .row
        .col-6
            form(
                [formGroup]="containerForm",
                (ngSubmit)="onFormSubmit()")
                .form-group
                    p.input-hint Please Note! The container number must have 4 first characters as uppercase latin symbols and rest 7 characters as positive digits! Example: ABCD1234567
                    input.form-control(
                        required,
                        formControlName="number",
                        placeholder="Enter Container Number",
                        [ngClass]="{ 'is-invalid': submitted && getContainerForm.number.errors }")

                    div.invalid(*ngIf="submitted && getContainerForm.number.errors")
                        div(*ngIf="getContainerForm.number.errors.required")
                            p.error-text Container Number is required!
                        div(*ngIf="getContainerForm.number.errors.pattern")
                            p.error-text Container Number invalid!
                input(type="submit" value="Search")

.container
    app-container-info([containerModel]="getContainerModel()")
